@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #849173;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: black;
}

// STYLES FOR MAIN TITLE OF THE PAGE
header {
  color: black;

  // THIS IS THE MAIN NAVIGATION BAR THAT WILL BE AT THE TOP OF THE PAGE
  nav {
    display: flex;

    // BOX CONTAINING LINKS FOR SITE NAVIGATION
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;

      // Flexbox Parameters for the Site Navigation Links
      display: flex;
      justify-content: space-evenly;

      // INDIVIDUAL LIGHT LINK STYLES
      li {
        margin: 5px;
        padding: 0.5em 1em 0.5em;
        border: 0.15em outset #807391;
        border-radius: 10px;
        background-color: #918873;
        width: 10%;
        text-align: center;
        flex:1;

        // LINK BEHAVIOR AND LOW LEVEL STYLES
        a {
          outline: none;
          text-decoration: none;
          font-size: 1.3em;

          &:link, &:visited {
            color: #2a2e24;
          }

          &:focus {
            text-decoration: underline;
          }

          &:hover {
            color: #ebe6b6;
          }

          &:active {
            color: #bbe3b6;
          }
        }
      }
    }
  }
}

article {
  float: left;
  width: 60%;
}

aside {
  padding: 10px;
  p {
    background: linear-gradient(160deg, hsla(172, 12%, 37%, 0.75), hsla(12, 12%, 38%, 0.73));
    border: 5px inset #73918d;
    padding: 0.7em;
    border-radius: 8px;
    float: right;
    width: 30%;
  }
}

footer {

}

h1 {
  font-family: "Merriweather", serif;
  font-size: 32px;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 25px;
}
